version: '3.9'

services:
  game-api-gateway:
    build:
      context: .
      target: game-api-gateway
    container_name: game-api-gateway
    ports:
      - '3000:3000'
    depends_on:
      - account
      - account-db

  account:
    build:
      context: .
      target: account
    expose:
      - '3001'
    depends_on:
      - account-db
    environment:
      - DB_HOST=account-db
      - DB_PORT=5432
      - DB_USER=account
      - DB_PASSWORD=account
      - DB_NAME=account_db

  account-db:
    image: postgres:16-alpine
    container_name: account-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=account
      - POSTGRES_PASSWORD=account
      - POSTGRES_DB=account_db
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
