version: '3.9'

services:
  game-api-gateway:
    build:
      context: .
      target: game-api-gateway
    container_name: game-api-gateway
    ports:
      - '${GAME_API_PORT}:${GAME_API_PORT}'
    depends_on:
      - account
      - account-db
      - character
      - character-db
      - combat
      - combat-db
      - redis
    environment:
      - GAME_API_PORT=${GAME_API_PORT}
      - ACCOUNT_HOST=${DOCKER_ACCOUNT_HOST}
      - ACCOUNT_PORT=${ACCOUNT_PORT}
      - CHARACTER_HOST=${DOCKER_CHARACTER_HOST}
      - CHARACTER_PORT=${CHARACTER_PORT}
      - COMBAT_HOST=${DOCKER_COMBAT_HOST}
      - COMBAT_PORT=${COMBAT_PORT}
      - REDIS_HOST=${DOCKER_REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}

  account:
    build:
      context: .
      target: account
    container_name: account-service
    expose:
      - '${ACCOUNT_PORT}'
    depends_on:
      - account-db
    environment:
      - ACCOUNT_DB_HOST=${DOCKER_ACCOUNT_DB_HOST}
      - ACCOUNT_DB_PORT=${ACCOUNT_DB_PORT}
      - ACCOUNT_DB_USER=${ACCOUNT_DB_USER}
      - ACCOUNT_DB_PASS=${ACCOUNT_DB_PASS}
      - ACCOUNT_DB_NAME=${ACCOUNT_DB_NAME}
      - ACCOUNT_HOST=${DOCKER_ACCOUNT_HOST}
      - ACCOUNT_PORT=${ACCOUNT_PORT}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - GM_USER=${GM_USER}
      - GM_EMAIL=${GM_EMAIL}
      - GM_PASS=${GM_PASS}
      - GM_ID=${GM_ID}

  account-db:
    image: postgres:16-alpine
    container_name: account-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER='${ACCOUNT_DB_USER}'
      - POSTGRES_PASSWORD='${ACCOUNT_DB_PASS}'
      - POSTGRES_DB='${ACCOUNT_DB_NAME}'
    ports:
      - '${ACCOUNT_DB_PORT}:${ACCOUNT_DB_PORT}'
    volumes:
      - account_pgdata:/var/lib/postgresql/data

  character:
    build:
      context: .
      target: character
    container_name: character-service
    expose:
      - '${CHARACTER_PORT}'
    depends_on:
      - character-db
    environment:
      - CHARACTER_DB_HOST=${DOCKER_CHARACTER_DB_HOST}
      - CHARACTER_DB_PORT=${CHARACTER_DB_PORT}
      - CHARACTER_DB_USER=${CHARACTER_DB_USER}
      - CHARACTER_DB_PASS=${CHARACTER_DB_PASS}
      - CHARACTER_DB_NAME=${CHARACTER_DB_NAME}
      - CHARACTER_HOST=${DOCKER_CHARACTER_HOST}
      - CHARACTER_PORT=${CHARACTER_PORT}
      - GM_ID=${GM_ID}

  character-db:
    image: postgres:16-alpine
    container_name: character-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${CHARACTER_DB_USER}
      - POSTGRES_PASSWORD=${CHARACTER_DB_PASS}
      - POSTGRES_DB=${CHARACTER_DB_NAME}
    command: ['postgres', '-p', '${CHARACTER_DB_PORT}']
    ports:
      - '${CHARACTER_DB_PORT}:${CHARACTER_DB_PORT}'
    volumes:
      - character_pgdata:/var/lib/postgresql/data

  combat:
    build:
      context: .
      target: combat
    container_name: combat-service
    expose:
      - '${COMBAT_PORT}'
    depends_on:
      - combat-db
    environment:
      - COMBAT_DB_HOST=${DOCKER_COMBAT_DB_HOST}
      - COMBAT_DB_PORT=${COMBAT_DB_PORT}
      - COMBAT_DB_USER=${COMBAT_DB_USER}
      - COMBAT_DB_PASS=${COMBAT_DB_PASS}
      - COMBAT_DB_NAME=${COMBAT_DB_NAME}
      - COMBAT_HOST=${DOCKER_COMBAT_HOST}
      - COMBAT_PORT=${COMBAT_PORT}

  combat-db:
    image: postgres:16-alpine
    container_name: combat-db
    restart: unless-stopped
    environment:
      - POSTGRES_USER='${COMBAT_DB_USER}'
      - POSTGRES_PASSWORD='${COMBAT_DB_PASS}'
      - POSTGRES_DB='${COMBAT_DB_NAME}'
    command: ['postgres', '-p', '${COMBAT_DB_PORT}']
    ports:
      - '${COMBAT_DB_PORT}:${COMBAT_DB_PORT}'
    volumes:
      - combat_pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis
    restart: always
    ports:
      - '${REDIS_PORT}:${REDIS_PORT}'
    command: >
      redis-server
      --appendonly yes
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
    volumes:
      - redis-data:/data

volumes:
  account_pgdata:
  character_pgdata:
  combat_pgdata:
  redis-data:
