version: '3.9'

services:
  game-api-gateway:
    build:
      context: .
      target: game-api-gateway
    container_name: game-api-gateway
    ports:
      - '3000:3000'
    depends_on:
      - account

  account:
    build:
      context: .
      target: account
    container_name: account
    expose:
      - '3001'
